<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <!--/*@thymesVar id="BASE_URl" type="java.lang.String""*/-->
  <title th:text="${title}">Articles Overview</title>
  <link rel="stylesheet" href="../webroot/uikit/css/uikit.min.css" th:href="@{{baseUrl}/uikit/css/uikit.min.css(baseUrl=${BASE_URl})}">
  <script src="../webroot/jquery/jquery.min.js" th:src="@{{baseUrl}/jquery/jquery.min.js(baseUrl=${BASE_URl})}"></script>
  <script src="../webroot/uikit/js/uikit.min.js" th:src="@{{baseUrl}/uikit/js/uikit.min.js(baseUrl=${BASE_URl})}"></script>
</head>
<body>

<div th:include="fragments :: header" th:remove="tag"></div>

<div class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container">
    <h3>Here you will find a list of all available articles in chronological order</h3>
  </div>
</div>

<div class="uk-section uk-section-small">
  <div class="uk-container">
    <!--/*@thymesVar id="articles" type="java.util.List<com.maddob.data.Article>"*/-->
    <article class="uk-article" th:each="article : ${articles}">
      <h1 class="uk-article-title">
        <!--/*@thymesVar id="article" type="com.maddob.data.Article"*/-->
        <!--/*@thymesVar id="BASE_URL" type=""*/-->
        <a class="uk-link-reset" th:href="@{{baseUrl}/articles/{articleTitle}(articleTitle=${article.title},baseUrl=${BASE_URL})}" th:text="${article.title}"></a>
      </h1>
      <p class="uk-article-meta">Published on <span th:text="${#temporals.format(article.created, 'dd.MM.yyyy')}">24.01.1970</span></p>
      <p class="uk-text-lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>
      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a class="uk-button uk-button-text" href="#">Read more</a>
        </div>
      </div>
    </article>
  </div>
</div>

<div th:include="fragments :: footer" th:remove="tag"></div>

</body>
</html>