<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <!--/*@thymesVar id="BASE_URL" type="java.lang.String"*/-->
  <title th:text="${title}">Hello World</title>
  <link rel="stylesheet" href="../webroot/uikit/css/uikit.min.css" th:href="@{{baseUrl}/uikit/css/uikit.min.css(baseUrl=${BASE_URL})}">
  <script src="../webroot/jquery/jquery.min.js" th:src="@{{baseUrl}/jquery/jquery.min.js(baseUrl=${BASE_URL})}"></script>
  <script src="../webroot/uikit/js/uikit.min.js" th:src="@{{baseUrl}/uikit/js/uikit.min.js(baseUrl=${BASE_URL})}"></script>
</head>
<body>

<div th:include="fragments :: header" th:remove="tag"></div>

<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="created" type="java.lang.String"*/-->
<!--/*@thymesVar id="content" type="java.lang.String"*/-->
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title" th:text="${article.title}">Default title</h1>
      <p class="uk-article-meta">published on <span th:text="${#temporals.format(article.created, 'dd.MM.yyyy')}">24.01.1970</span></p>
      <div th:utext="${article.content}"></div>
    </article>
  </div>
</div>

<div th:include="fragments :: footer" th:remove="tag"></div>

</body>
</html>