<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Thymeleaf Variable Definition -->
<!--/*@thymesVar id="CURRENT_PAGE" type="java.lang.String"*/-->
<!--/*@thymesVar id="BASE_URL" type="java.lang.String"*/-->


<!-- header fragment -->
<div th:fragment="header">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" id="menu" uk-navbar>
      <div class="uk-navbar-left" id="menu-logo">
        <div style="padding-left: 0" class="uk-navbar-item uk-logo">maddob.com</div>
      </div>
      <div class="uk-navbar-center" id="menu-main">
        <ul class="uk-navbar-nav">
          <!--/*@thymesVar id="BASE_URL" type="java.lang.String"*/-->
          <li th:class="${CURRENT_PAGE} == ''? 'uk-active' : 'uk-inactive'">
            <a th:href="@{{baseUrl}/(baseUrl=${BASE_URL})}">Hello World</a>
          </li>
          <li th:class="${CURRENT_PAGE} == 'articles'? 'uk-active' : 'uk-inactive'">
            <a th:href="@{{baseUrl}/articles(baseUrl=${BASE_URL})}">Articles</a>
          </li>
          <li th:class="${CURRENT_PAGE} == 'about'? 'uk-active' : 'uk-inactive'">
            <a th:href="@{{baseUrl}/about(baseUrl=${BASE_URL})}">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- Admin header fragment -->
<div th:fragment="admin-header">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" id="menu" uk-navbar>
      <div class="uk-navbar-left" id="menu-logo">
        <div style="padding-left: 0" class="uk-navbar-item uk-logo">maddob.com</div>
      </div>
      <div class="uk-navbar-center" id="menu-main">
        <ul class="uk-navbar-nav">
          <!--/*@thymesVar id="BASE_URL" type="java.lang.String"*/-->
          <li th:class="${CURRENT_PAGE} == ''? 'uk-active' : 'uk-inactive'">
            <a th:href="@{{baseUrl}/(baseUrl=${BASE_URL})}">Dashboard</a>
          </li>
          <li th:class="${CURRENT_PAGE} == 'articles'? 'uk-active' : 'uk-inactive'">
            <a th:href="@{{baseUrl}/articles(baseUrl=${BASE_URL})}">Articles</a>
          </li>
          <li th:class="${CURRENT_PAGE} == 'about'? 'uk-active' : 'uk-inactive'">
            <a th:href="@{{baseUrl}/about(baseUrl=${BASE_URL})}">Files</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- footer fragment -->
<div th:fragment="footer">
  <div class="uk-section uk-section-small uk-section-secondary">
    <div class="uk-container">
      <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="uk-text-left">
          <footer>&copy; Copyright 2017, maddob.com</footer>
        </div>
        <div>
          Powered by VERTX
        </div>
        <div class="uk-text-right">
          Runs on Raspberry Pi
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>