<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*@thymesVar id="BASE_URL" type="java.lang.String"*/-->
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title}">Hello World</title>
  <link rel="stylesheet" href="../webroot/uikit/css/uikit.min.css" th:href="@{{baseUrl}/uikit/css/uikit.min.css(baseUrl=${BASE_URL})}">
  <script src="../webroot/jquery/jquery.min.js" th:src="@{{baseUrl}/jquery/jquery.min.js(baseUrl=${BASE_URL})}"></script>
  <script src="../webroot/uikit/js/uikit.min.js" th:src="@{{baseUrl}/uikit/js/uikit.min.js(baseUrl=${BASE_URL})}"></script>
</head>
<body>


<div th:include="fragments :: header" th:remove="tag"></div>

<div class="uk-section uk-section-secondary uk-section-small">
  <div class="uk-container">
    <h3>Hello World!</h3>
    <h4>I'm Martin (maddob) - a software engineer, fixed-gear and basketball fan. Always striving for simplicity</h4>
    <p>For a long time I was planning to start an own blog, but did not really know,
      what exactly to write about. After having discovered Vert.x a couple of months ago, I instantly fell in love with
      this marvellous framework. While experimenting with it, the idea of creating an own blog based on it and
      documenting the creation process was born - this is what you are reading at the moment. This page is powered by
      Vertx. Since all of my projects will be <b>MAD</b>, this one was named <b>MadBlog</b>.
      Feel free to check it out on <a href="https://github.com/martindobrev/MadBlog">github</a>.
    </p>

    <p>
      The first articles will give a detailed information about how this page was build. Since I am also a raspberry pi fan,
      the page you are reading at moment is hosted on my raspberry pi 3 at home! I was always wondering how much load
      can be handled by these marvellous machines and this page will be some sort of real case study. I will try to keep it
      running only on RPis if possible :) which will hopefully give me some more
      interesting information to share.
    </p>
  </div>
</div>

<div class="uk-section uk-section-small">
  <div class="uk-container">
    <h2>Latest articles</h2>
    <hr>
    <div class="uk-child-width-expand@s" uk-grid>

      <!--/*@thymesVar id="articles" type="List<com.maddob.data.Article>"*/-->
      <div class="uk-width-1-2" th:each="article : ${articles}">
        <!--/*@thymesVar id="title" type="java.lang.String"*/-->
        <article class="uk-article">
          <h3 th:text="${article.title}"></h3>
          <p class="uk-article-meta uk-margin-small">Published on <span th:text="${#temporals.format(article.created, 'dd.MM.yyyy')}">24.01.1970</span></p>
          <div class="uk-margin-small" th:utext="${article.content}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          </div>
          <a class="uk-button uk-button-text uk-margin-small" th:href="@{{baseUrl}/articles/{articleTitle}(articleTitle=${article.title},baseUrl=${BASE_URL})}">Read more</a>
        </article>
      </div>
    </div>
  </div>
</div>

<div th:include="fragments :: footer" th:remove="tag"></div>

</body>
</html>